.vs/
CGML/ComLightLib/x64/
CGML/SentencePiece/x64/
CGML/Cgml/x64/
x64/
CGML/CgmlNet/obj/
CGML/CgmlNet/bin/
CGML/PackShaders/obj/
CGML/PackShaders/bin/
CGML/TorchLoader/obj/
CGML/TorchLoader/bin/
Mistral/MistralModel/obj/
Mistral/MistralModel/bin/
Mistral/MistralConsole/obj/
Mistral/MistralConsole/bin/
Mistral/MistralModel/Model/Generated/
Mistral/Temp/Freqs/obj/
Mistral/Temp/Freqs/bin/
Mistral/MistralConsole/Properties/launchSettings.json
Mistral/MistralChat/obj/
Mistral/MistralChat/bin/
CGML/Cgml/Resource.aps
Mistral/MistralChat/Properties/launchSettings.json
